<!doctype html>
<html>
<head>
    <!-- <base href="/services/practitionerportal/assethub/services/core/pmt/"/> -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>Redpacket</title>

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="../../styles/bootstrap.css">
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="stylesheet" href="../../styles/main.css">
    <link rel="stylesheet" href="../../styles/slidebar.css">
    <link rel="stylesheet" href="../../styles/login.css">

    <script src="../../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../../bower_components/angular/angular.js"></script>
    <script src="../../../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../../scripts/app.js"></script>
    <script src="../../scripts/component/basicController.js"></script>


</head>
<body>

<body class="login">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<img class="blur" src="../../images/pic7.jpg" />
<div class="welcome-info">
    <h1>欢迎使用微信公众号管理平台</h1>
    <span class="info">管理微信公众号，配置微信红包</span>
</div>

<div class="login-container">
    <div class="login-form">
            <span class="title">
                微信公众号管理平台
            </span>
        <div class="input-group">
            <i class="icon-nav-admin"></i>
            <input type="text" class="form-control textline" placeholder="用户名">
        </div>
        <div class="input-group">
            <i class="icon-nav-admin"></i>
            <input type="password" class="form-control textline" placeholder="密码">
        </div>
        <div class="checkbox">
            <label class="p-l-0">
                <input type="checkbox" value=""> <span class="login-check">自动登录</span>
                <span class="login-notice">忘记密码?</span>
            </label>
        </div>
        <button class="btn" type="submit" >登录</button>
        <div class="sign-up-notice">没有账号?</div>
        <button class="sign-up btn">注册</button>
    </div>


</div>

</body>
s

</body>


</html>
