@charset "utf-8";
/* CSS Document */
body {
	position:relative;
	height:100%;
}
.error-bg-1 {
	position:fixed;
	right:0;
	top:0;
}
.error-bg-2 {
	position:fixed;
	left:0;
	bottom:0;
}
.error-article {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
.error-title {
	font-size:9rem;
	color:#666666;
	font-weight:500;
	line-height:normal;
	text-align:left;
}

.error-content {
	margin-top:4.375rem;
	margin-left:365px;
	border-left:5px solid #92d0cf;
	padding:0 16px;
	width:385px;
}
.error-content .error-word {
	font-size:3rem;
	color:#666666;
	line-height:normal;
}
.error-content .error-describe {	
	font-size:1.125rem;
	color:#4d4d4d;
	font-weight:500;
	margin-top:10px;
}
.error-content .error-describe a {
	font-weight:500;
	font-size:1.125rem;
	color:#15ad9e;
	text-decoration:underline;
	cursor:pointer;
}