.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}


/* Make the masthead heading the same height as the navigation */
.header h4 {
  position: absolute;
  top: 22px;
  left: 30px;
  color: #FFF;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.modal-dialog {
  margin-top: 200px;
}

.modal-row {
  position: relative;
  height: 52px;
  margin: 5px 10px;
  padding: 8px 0;
}

.modal-row input {
  position: absolute;
  top: 0;
  height: 30px;
  width: 400px;
  right: 0;
  padding-left: 10px;
  outline: 0 !important;
}

.custom-checkbox {
  width: 25px;
  height: 25px;
}

.modal-row .custom-checkbox {
  right: 375px;
  width: 25px;
  height: 25px;
}

.search-term {
  height: 50px;
  margin-bottom: 15px;
  border-bottom: 1px solid #666;
}

.search-term label {
  padding-top: 8px;
  padding-right: 10px;
}

.product-detail-modal {
  width: 800px;
}

.product-detail-modal .modal-row {
  height: 500px;
  overflow-y: auto;
}


.product-detail-modal .modal-row input{
  position: inherit;
  width: 25px;
  height: 25px;
  outline: 0 !important;
}

table thead th, tr{
  text-align: center;
}

.isteven-multi-select-div { 
  display: inline;
}

.ml-72 {
  margin-left: 72px;
}

.mb-20 {
  margin-bottom: 20px;
}

.multiSelect .checkBoxContainer {
    height: 300px;
    overflow: auto;
}

.error-messages {
    position: relative;
    margin: 2px 0 0 150px;
    color: red;
}

.modal-body {
    padding: 0 15px;
}

#addProductBatch .modal-body {
    padding: 15px;
}