<div class="container-fluid">
    <div class="row search-term">
        <div  class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
           <!--  <label for="productId">产品名称</label>
            <input type="text" id="productId"> -->
        </div>
        <div  class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <!-- <label for="cityId">可销售城市</label>
                <input type="text" id="cityId"> -->
        </div>
        <div  class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
           <!--  <label for="descId">描述</label>
            <input type="text" id="descId"> -->
        </div>
        <div  class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <!--   <button class="btn btn-large btn-detail" type="button">查询</button> -->
            <button class="btn btn-large btn-detail" type="button" data-toggle="modal" data-target="#addProductBatch">添加产品批次</button>
        </div>
    </div>
    <div class="row">
            <table class="table table-striped table-hover batch-content">
                <thead>
                    <th>名称</th>
                    <th>城市</th>
                    <th>数量</th>
                    <th>描述</th>
                    <th>标题</th>
                    <th>内容</th>
                    <th>弹窗标题</th>
                    <th>分享链接</th>
                    <th>缩略图链接</th>
                    <th>操作</th>
                </thead>
                <tbody>
                    <tr ng-repeat="batch in splitedBatchInfo[currentPage-1]">
                        <td  width="10%">{{batch.name}}</td>
                        <td  width="6%">{{batch.allowSellCities | allowedCityFilter}}</td>
                        <td  width="6%">{{batch.amount}}</td>
                        <td  width="10%">{{batch.description}}</td>
                        <td  width="6%">{{batch.wechatUserTitle}}</td>
                        <td  width="10%">{{batch.wechatUserText}}</td>
                        <td  width="10%">{{batch.wechatShareTitle}}</td>
                        <td  width="10%">{{batch.wechatShareLink}}</td>
                        <td  width="10%">{{batch.wechatShareImgUrl}}</td>
                        <td  width="22%">
                            <button class="btn btn-large btn-detail" data-toggle="modal" ng-click="openBatchInfoModal(batch)">编辑</button>
                            <div class="modal fade product-batch-modal" id="{{batch.id}}_batch_info" tabindex="-1" role="dialog" aria-labelledby="batchInfoModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="batchInfoModalLabel">修改产品批次信息</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form name="formRegister">
                                                <div class="modal-row">
                                                    <label for="productId">产品名称</label>
                                                    <input type="text" name="productId" id="productId" ng-model="updatedProductBatch.name" disabled="true" />
                                                </div>
                                             <!--    <div class="modal-row">
                                                    <label for="cityId">可销售城市</label>
                                                    <input type="text" name="cityId" id="cityId" ng-model="updatedProductBatch.allowSellCities" ng-minlength="2" disabled="true" />
                                                </div> -->
                                                <div class="modal-row">
                                                    <label for="countId">产品数量（件）</label>
                                                    <input type="text" name="countId" id="countId" ng-model="updatedProductBatch.amount" disabled="true" />
                                                </div>
                                                <div class="modal-row">
                                                    <label for="descId">产品描述</label>
                                                    <input type="text" name="descId" id="descId" ng-model="updatedProductBatch.description" disabled="true" />
                                                </div>
                                                <div class="modal-row">
                                                    <label for="wechatUserTitleId">微信页面标题</label>
                                                    <input type="text" name="wechatUserTitleId" id="wechatUserTitleId" ng-model="updatedProductBatch.wechatUserTitle" ng-maxlength="200" placeholder="请输入微信认证成功页面显示的标题" />
                                                    <div class="error-messages" ng-messages="formRegister.wechatUserTitleId.$error">
                                                        <p ng-message="maxlength">微信认证成功页面显示的标题最大长度200</p>
                                                    </div>
                                                </div>
                                                <div class="modal-row">
                                                    <label for="wechatUserTextId">微信页面内容</label>
                                                    <input type="text" name="wechatUserTextId" id="wechatUserTextId" ng-model="updatedProductBatch.wechatUserText" ng-maxlength="200" placeholder="请输入微信认证成功页面显示的主要内容" />
                                                    <div class="error-messages" ng-messages="formRegister.wechatUserTextId.$error">
                                                        <p ng-message="maxlength">微信认证成功页面显示的主要内容最大长度200</p>
                                                    </div>
                                                </div>
                                                <div class="modal-row">
                                                    <label for="wechatShareTitleId">弹窗标题</label>
                                                    <input type="text" name="wechatShareTitleId" id="wechatShareTitleId" ng-model="updatedProductBatch.wechatShareTitle" ng-maxlength="200" placeholder="请输入微信分享弹窗的显示标题" />
                                                    <div class="error-messages" ng-messages="formRegister.wechatShareTitleId.$error">
                                                        <p ng-message="maxlength">微信分享弹窗的显示标题最大长度200</p>
                                                    </div>
                                                </div>
                                                <div class="modal-row">
                                                    <label for="wechatShareLinkId">弹窗分享链接</label>
                                                    <input type="text" name="wechatShareLinkId" id="wechatShareLinkId" ng-model="updatedProductBatch.wechatShareLink" ng-maxlength="200" placeholder="请输入微信分享弹窗的分享链接" />
                                                    <div class="error-messages" ng-messages="formRegister.wechatShareLinkId.$error">
                                                        <p ng-message="maxlength">微信分享弹窗的分享链接最大长度200</p>
                                                    </div>
                                                </div>
                                                <div class="modal-row">
                                                    <label for="wechatShareImgId">弹窗缩略图链接</label>
                                                    <input type="text" name="wechatShareImgId" id="wechatShareImgId" ng-model="updatedProductBatch.wechatShareImgUrl" ng-maxlength="200" placeholder="请输入微信分享弹窗的缩略图链接" />
                                                    <div class="error-messages" ng-messages="formRegister.wechatShareImgId.$error">
                                                        <p ng-message="maxlength">微信分享弹窗的缩略图链接最大长度200</p>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal"  ng-click="closeUpdateModal(updatedProductBatch)">取消</button>
                                            <button type="button" class="btn btn-detail" ng-click="updateProductBatch(updatedProductBatch)">修改</button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>    
                            <button class="btn btn-large btn-detail" data-toggle="modal" ng-click="openDetailModal(batch.productDetails)">详情</button>
                            <button class="btn btn-large btn-detail" data-toggle="modal" ng-click="downloadQRInfo(batch.productDetails)">下载</button>
                            <!-- <button class="btn btn-large btn-danger" type="button">删除</button> -->
                                <!-- add product batch Modal -->
                            <div class="modal fade" id="{{batch.productDetails[0].productId}}_product_detail" tabindex="-1" role="dialog" aria-labelledby="productDetailModalLabel" aria-hidden="true">
                                <div class="modal-dialog product-detail-modal">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="productDetailModalLabel">{{batch.name}}产品详情</h4>
                                        </div>
                                        <div class="modal-body product-detail-modal">
                                            <div class="modal-row">
                                                <table class="table table-striped table-hover">
                                                    <thead>
                                                    <th>产品编号</th>
                                                    <th>用户可否领取红包</th>
                                                    <th>用户已扫码</th>
                                                    </thead>
                                                    <tbody>
                                                    <!-- <input type="checkbox" name="checkbox" ng-model="productDetail.enable" /> -->
                                                    <tr ng-repeat="productDetail in batch.productDetails | orderBy:'productDetailNum'">
                                                        <td>{{productDetail.productDetailNum}}</td>
                                                        <td>{{productDetail.enable | isSelectedFilter}}</td>
                                                        <td>{{productDetail.scanned | isSelectedFilter}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>

    <div class="pagination-results" uib-pagination total-items="totalItems" items-per-page="itemPerPage" ng-model="currentPage" max-size="maxSize" first-text="第一页" previous-text="上一页" next-text="下一页" last-text="最后页" boundary-links="true" boundary-link-numbers="false">
    </div>
  
</div>   


<!-- add product batch Modal -->
<div class="modal fade product-batch-modal" id="addProductBatch" tabindex="-1" role="dialog" aria-labelledby="addProductBatchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="addProductBatchModalLabel">添加产品批次</h4>
            </div>
            <div class="modal-body">
                <form name="formRegister">
                    <div class="modal-row">
                        <label for="productId">产品名称</label>
                        <input type="text" name="productId" id="productId" ng-model="addedProductBatch.name" ng-minlength="2" ng-maxlength="40" placeholder="请输入产品名称" required />
                        <div class="error-messages" ng-messages="formRegister.productId.$error">
                            <p ng-message="minlength">产品名称最小长度2</p>
                            <p ng-message="maxlength">产品名称最大长度40</p>
                            <p ng-message="required">产品名称必填</p>
                        </div>
                    </div>
                    <div class="modal-row">
                        <label><input class="custom-checkbox" type="checkbox" ng-model="addedProductBatch.forceCityCheck">城市限制</label>
                    </div>
                    <div class="modal-row mb-20" ng-hide="!addedProductBatch.forceCityCheck">
                        <label for="cityId">可销售城市</label>
                        <div class="isteven-multi-select-div ml-72" 
                            isteven-multi-select
                            input-model="modernBrowsers"
                            output-model="outputBrowsers"
                            button-label="icon name"
                            item-label="icon name maker"
                            tick-property="ticked"
                        >
                        </div>
                    </div>
                    <div class="modal-row">
                        <label for="countId">产品数量（件）</label>
                        <input type="text" name="countId" id="countId" ng-model="addedProductBatch.amount" ng-pattern="/^[1-9]\d*$/" placeholder="请输入产品数量" required />
                        <div class="error-messages" ng-messages="formRegister.countId.$error">
                            <p ng-message="pattern">产品数量只能为正整数</p>
                            <p ng-message="required">产品数量必填</p>
                        </div>
                    </div>
                    <div class="modal-row">
                        <label for="descId">产品描述</label>
                        <input type="text" name="descId" id="descId" ng-model="addedProductBatch.description" ng-maxlength="200" placeholder="请输入产品描述" />
                        <div class="error-messages" ng-messages="formRegister.descId.$error">
                            <p ng-message="maxlength">产品描述最大长度200</p>
                        </div>
                    </div>
                    <div class="modal-row">
                        <label><input class="custom-checkbox" type="checkbox" ng-model="addedProductBatch.randomRedpacket">随机红包</label>
                    </div>
                    <div class="modal-row" ng-hide="!addedProductBatch.randomRedpacket">
                        <label for="randomMinAmountId">最小金额（分）</label>
                        <input type="text" name="randomMinAmountId" id="randomMinAmountId" ng-model="addedProductBatch.randomMinAmount" ng-pattern="/^[1-9]\d*$/" placeholder="请输入最小红包金额" />
                        <div class="error-messages mt-24" ng-messages="formRegister.randomMinAmount.$error">
                            <p ng-message="pattern">金额只能为正整数</p>
                        </div>
                    </div>
                    <div class="modal-row" ng-hide="!addedProductBatch.randomRedpacket">
                        <label for="randomMaxAmountId">最大金额（分）</label>
                        <input type="text" name="randomMaxAmountId" id="randomMaxAmountId" ng-model="addedProductBatch.randomMaxAmount" ng-pattern="/^[1-9]\d*$/" placeholder="请输入最大红包金额" />
                        <div class="error-messages mt-24" ng-messages="formRegister.randomMaxAmount.$error">
                            <p ng-message="pattern">金额只能为正整数</p>
                        </div>
                    </div>
                    <div class="modal-row" ng-hide="addedProductBatch.randomRedpacket" >
                        <label for="amountId">平均红包金额（分）</label>
                        <input type="text" name="amountId" id="amountId" ng-model="addedProductBatch.averageAmount" ng-pattern="/^[1-9]\d*$/" placeholder="请输入平均红包金额" required />
                        <div class="error-messages" ng-messages="formRegister.amountId.$error">
                            <p ng-message="pattern">金额只能为正整数</p>
                            <p ng-message="required">当前为平均红包模式，金额必填</p>
                        </div>
                    </div>
              
                    <div class="modal-row">
                        <label for="wechatUserTitleId">微信页面标题</label>
                        <input type="text" name="wechatUserTitleId" id="wechatUserTitleId" ng-model="addedProductBatch.wechatUserTitle" ng-maxlength="200" placeholder="请输入微信认证成功页面显示的标题" />
                        <div class="error-messages" ng-messages="formRegister.wechatUserTitleId.$error">
                            <p ng-message="maxlength">微信认证成功页面显示的标题最大长度200</p>
                        </div>
                    </div>
                    <div class="modal-row">
                        <label for="wechatUserTextId">微信页面内容</label>
                        <input type="text" name="wechatUserTextId" id="wechatUserTextId" ng-model="addedProductBatch.wechatUserText" ng-maxlength="200" placeholder="请输入微信认证成功页面显示的主要内容" />
                        <div class="error-messages" ng-messages="formRegister.wechatUserTextId.$error">
                            <p ng-message="maxlength">微信认证成功页面显示的主要内容最大长度200</p>
                        </div>
                    </div>
                    <div class="modal-row">
                        <label for="wechatShareTitleId">弹窗标题</label>
                        <input type="text" name="wechatShareTitleId" id="wechatShareTitleId" ng-model="addedProductBatch.wechatShareTitle" ng-maxlength="200" placeholder="请输入微信分享弹窗的显示标题" />
                        <div class="error-messages" ng-messages="formRegister.wechatShareTitleId.$error">
                            <p ng-message="maxlength">微信分享弹窗的显示标题最大长度200</p>
                        </div>
                    </div>
                    <div class="modal-row">
                        <label for="wechatShareLinkId">弹窗分享链接</label>
                        <input type="text" name="wechatShareLinkId" id="wechatShareLinkId" ng-model="addedProductBatch.wechatShareLink" ng-maxlength="200" placeholder="请输入微信分享弹窗的分享链接" />
                        <div class="error-messages" ng-messages="formRegister.wechatShareLinkId.$error">
                            <p ng-message="maxlength">微信分享弹窗的分享链接最大长度200</p>
                        </div>
                    </div>
                    <div class="modal-row">
                        <label for="wechatShareImgId">弹窗缩略图链接</label>
                        <input type="text" name="wechatShareImgId" id="wechatShareImgId" ng-model="addedProductBatch.wechatShareImgUrl" ng-maxlength="200" placeholder="请输入微信分享弹窗的缩略图链接" />
                        <div class="error-messages" ng-messages="formRegister.wechatShareImgId.$error">
                            <p ng-message="maxlength">微信分享弹窗的缩略图链接最大长度200</p>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"  ng-click="closeModal()">取消</button>
                <button type="button" class="btn btn-detail" ng-click="addProductBatch(addedProductBatch)">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

