<div class="container-fluid">
   <!--      <div class="row search-term">
            <div  class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <label for="userId">用户</label>
                <input type="text" id="userId">
            </div>
            <div  class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <label for="timeId">领取时间</label>
                <input type="text" id="timeId">
            </div>
            <div  class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <label for="productId">相应产品</label>
                <input type="text" id="productId">
            </div>
            <div  class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <button class="btn btn-large btn-detail" type="button">查询</button>
            </div>
        </div> -->
        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                <th>用户</th>
                <th>金额（元）</th>
                <th>领取时间</th>
                <th>相应产品</th>
                </thead>
                <tbody>
                <tr ng-repeat="redpacket in splitedRdpacketInfo[currentPage-1] | orderBy:'createDateTime':false">
                    <td width="25%">{{redpacket.wechatNickname}}</td>
                    <td  width="25%">{{redpacket.amount}}</td>
                    <td  width="25%">{{redpacket.createDateTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    <td  width="25%">{{redpacket.productDetail.productName}}</td>
                </tr>

                </tbody>
            </table>
    </div>

    <div class="pagination-results" uib-pagination total-items="totalItems" items-per-page="itemPerPage" ng-model="currentPage" max-size="maxSize" first-text="第一页" previous-text="上一页" next-text="下一页" last-text="最后页" boundary-links="true" boundary-link-numbers="false">
    </div>

</div>
