
    <div class="container-fluid">

        <div class="row search-term">
            <div  class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label for="productName">产品名称</label>
                <input type="text" id="productName">
            </div>
            <div  class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label for="productNum">产品编号</label>
                <input type="text" id="productName">
            </div>
            <div  class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <button class="btn btn-large btn-detail" type="button">查询</button>
            </div>
        </div>
        <div class="row">
            <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
            <div  class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <table class="table table-striped table-hover">
                    <thead>
                    <th>产品名称</th>
                    <th>产品编号</th>
                    <th>是否启用扫码</th>
                    <th>是否已扫码</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td width="25%">众信香油家庭火锅底料</td>
                        <td  width="25%">012323</td>
                        <td  width="25%"><input class="custom-checkbox" type="checkbox" value=""></td>
                        <td  width="25%">是</td>
                    </tr>

                    <tr>
                        <td width="25%">众信香油家庭火锅底料</td>
                        <td  width="25%">012323</td>
                        <td  width="25%"><input class="custom-checkbox" type="checkbox" value=""></td>
                        <td  width="25%">是</td>
                    </tr>

                    <tr>
                        <td width="25%">众信香油家庭火锅底料</td>
                        <td  width="25%">012323</td>
                        <td  width="25%"><input class="custom-checkbox" type="checkbox" value=""></td>
                        <td  width="25%">是</td>
                    </tr>

                    <tr>
                        <td width="25%">众信香油家庭火锅底料</td>
                        <td  width="25%">012323</td>
                        <td  width="25%"><input class="custom-checkbox" type="checkbox" value=""></td>
                        <td  width="25%">是</td>
                    </tr>


                    </tbody>
                </table>
            </div>
            <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
        </div>

    </div>