<div>
    <header class="header">
        <span class="toggle-button" id="menu-toggle">
             <i id="toggle-icon" class="glyphicon glyphicon-chevron-left" aria-hidden="true"></i>
        </span>
        <span><h4>{{selectedTitle}}</h4></span>
        <span>
            <img src="images/userimg.png" data-toggle="modal" data-target="#confirmLogout" />
        </span>
    </header>
<!-- Sidebar -->
<div id="sidebar-wrapper">
    <h1 class="sidebar-brand">
        众信红包管理平台
    </h1>
    <ul class="primary-nav" id="primary-nav">
        <li id="configure-id">
            <a ui-sref="configure">
                <i class="glyphicon glyphicon-cog" aria-hidden="true"></i>
                <span>配置项管理</span>
            </a>
        </li>
        <li id="scancode-id">
            <a ui-sref="scancode">
                <i class="glyphicon glyphicon-th" aria-hidden="true"></i>
                <span>产品扫描管理</span>
            </a>
        </li>
        <li id="batch-id">
            <a ui-sref="batch">
                <i class="glyphicon glyphicon-barcode" aria-hidden="true"></i>
                <span>产品批次管理</span>
            </a>
        </li>
        <li id="redpacketinfo-id">
            <a ui-sref="redpacketInfo">
                <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                <span>红包信息查询</span>
            </a>
        </li>
        <li id="userinfo-id">
            <a ui-sref="userInfo">
                <i class="glyphicon glyphicon-align-justify" aria-hidden="true"></i>
                <span>用户信息查询</span>
            </a>
        </li>
    </ul>
    </div>
</div>
<!-- /#sidebar -->

<!-- add product batch Modal -->
<div class="modal fade" id="confirmLogout" tabindex="-1" role="dialog" aria-labelledby="confirmLogoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="confirmLogoutModalLabel">系统退出提示</h4>
            </div>
            <div class="modal-body">
                <div class="modal-row">
                    <span class="modal-content-logout">确认要退出系统吗？</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"  ng-click="closeModal()">取消</button>
                <button type="button" class="btn btn-detail" ng-click="logout('confirmLogout')">确认</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>